.navbar {
  height: 100vh;
  width: 100%;
  padding: 0;
  margin: 0;
  font-size: 1.5rem;
  background-color: #9f148e;
  opacity: .95;
  position: fixed !important; }
  .navbar .nav-item {
    height: 100%;
    transition: all 0.5s;
    border-radius: 6px;
    width: 150px;
    text-align: center; }
    .navbar .nav-item .nav-link {
      color: #fff; }
  .navbar .nav-item:hover {
    background-color: #99d320;
    box-shadow: 6px 7px 24px -6px rgba(0, 0, 0, 0.75); }
  .navbar #main-logo {
    object-fit: contain;
    width: 70%; }
  .navbar .img-container {
    background-color: #a05bb5;
    padding: 10px;
    box-shadow: 6px 7px 24px -6px rgba(0, 0, 0, 0.75);
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center; }
  .navbar .brand {
    height: 100%;
    width: auto;
    margin: 0 10px; }

@media (max-width: 1350px) {
  .navbar .nav-item {
    font-size: 1.1rem;
    padding: 10px; }
  .navbar .brand {
    height: 60%; } }

@media (max-width: 330px) {
  .navbar-brand {
    width: 50%; } }

#hero {
  height: 100vh;
  background-image: url("../img/hero.jpg"); }
  #hero .heading-container {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center; }
    #hero .heading-container .heading-container-inner {
      color: white;
      text-align: center;
      height: 30%;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 20px;
      background-color: #9ad3206e; }

#offer {
  background-color: #5559AB; }
  #offer .offer-heading {
    text-align: center;
    color: #99d320;
    padding: 20px; }
  #offer .container-fluid {
    margin: 0; }
  #offer .offer-item {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #99d320;
    height: 150px;
    margin: 10px;
    padding: 5px;
    border-radius: 3px;
    box-shadow: 6px 7px 24px -6px rgba(0, 0, 0, 0.75); }
    #offer .offer-item .offer-item-heading {
      display: block;
      position: absolute;
      z-index: 10; }
  #offer .offer-item:before {
    content: '';
    position: absolute;
    top: 5px;
    left: 5px;
    width: 50px;
    height: 50px;
    border-top: 3px solid #9f148e;
    border-left: 3px solid #9f148e;
    transition: .2s; }
  #offer .offer-item:after {
    content: '';
    position: absolute;
    bottom: 5px;
    right: 5px;
    width: 50px;
    height: 50px;
    border-bottom: 3px solid #9f148e;
    border-right: 3px solid #9f148e;
    transition: .2s; }
  #offer .offer-item:hover:before,
  #offer .offer-item:hover:after {
    transform: scale(1.7); }
