@import "../_variables";
#about {
    background-color: rgb(201, 158, 241);
    .about-container {
        font-size: 20px;
        color: black;
        padding: 30px;
        border-radius: 5px;
        width: 100%;
    }
}