@import "../_variables";

.section-heading {
    text-align: center;
    color: #000;
    padding: 20px;
    width: 100%;
    background-color: rgb(199, 199, 199);
    box-shadow: $shadow;
    font-size: 1.5rem;
}

.item-heading {
    text-transform: uppercase;
    font-size: 1.3rem;
    margin: 0;
}

.contact-fixed {
    background-color: $secondary-color;
    position: fixed;
    z-index: 10;
    right: -200px;
    top: 150px;
    height: 100px;
    width: 300px;
    border-bottom-left-radius: 25%;
    border-top-left-radius: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .2s;
    box-shadow: $shadow;
    .phone-circle {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 30%;
        margin: 0;
        position: absolute;
        left: 10px;
        p {
            margin: 0;
        }
        .phone-icon {
            color: rgb(0, 110, 255);
        } 
    }
    .phone-container {
        width: 60%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0;
        position: absolute;
        right: 50px;
        p {
            font: 1.3rem;
            margin: 0;
            color: white;
        }
    }

}

.contact-fixed:hover {
    .phone-container {
        display: flex;
    }
    right: 0;
}

.main-hr {
    border: 1px solid $secondary-color;
}

@media (max-width: 768px) { 
    .item-heading,
    .section-heading {
        font-size: 1.1rem;
    }
}