#main_footer {
    background-color: rgb(0, 0, 0);
    color: white;
    .main_footer__container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        .main_footer__copyright {
        text-align: center;
        margin: 0;
        font-size: .8rem;
        .main_footer__icon-link {
            margin: 5px;
        }
    }
    }
}