@import "../_variables";

.navbar {
    height: 100vh;
    padding: 0;
    margin: 0;
    font-size: 1.5rem;
    background-color: $primary-color;
    opacity: 0.8;
    position: sticky;

    .nav-item {
        height: 100%;
        transition: all 0.5s;
        border-radius: 6px;
        width: 150px;
        text-align: center;
        .nav-link {
            color: #fff;
        }
    }
    .nav-item:hover {
        background-color: $secondary-color;
        box-shadow: 6px 7px 24px -6px rgba(0,0,0,0.75);
    }
    #main-logo {
        object-fit: contain;
        width: 70%;
    }
    .img-container { 
        background-color: rgb(160, 91, 181);
        padding: 10px;
        box-shadow: 6px 7px 24px -6px rgba(0,0,0,0.75);
        height: 80px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .brand {
        height: 100%;
        width: auto;
        margin: 0 10px;
        
    }
}



@media (max-width: 1350px) {
    .navbar .nav-item {
        font-size: 1.1rem;
        padding: 10px;
    }
    .navbar .brand {
        height: 60%;
    }
}

@media (max-width: 330px) {
    .navbar-brand {
        width: 50%;
    }
}
