@import "../_variables";

#offer {
    min-height: 100vh;
    background: rgb(57,51,44);
    background: radial-gradient(circle, rgba(57,51,44,1) 0%, rgba(108,50,112,0.6867121848739496) 0%, rgba(95,108,175,1) 100%);
    .offer-container {
        margin-top: 10px;
    }
    .offer-item {
        color: white;
        text-decoration: none;
        background-color: $darkgreen-color;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 60px;
        box-shadow: $shadow;
        position: relative;
    }
    .offer-item::before {
        content: "";
        position: absolute;
        left: 7px;
        height: 70%;
        border-left: 3px solid $primary-color;
        border-radius: 25%;
        transition: .2s;
    }
    .offer-item::after {
        content: "";
        position: absolute;
        right: 7px;
        height: 70%;
        border-right: 3px solid $primary-color;
        border-radius: 25%;
        transition: .2s;
    }
    .offer-item:hover::before{
        transform: scale(2);
        left: -10px;
    }
    .offer-item:hover::after{
        transform: scale(2);
        right: -10px;
    }
    .offer-list-container {
        background-color: $secondary-color;
        box-shadow: $shadow;
        .offer-extended {
            padding: 20px;
        }
    }
    

}